.draggable {
    border-style: solid;
    border-width: 1px;
    border-color: darkblue;
    background-color: ghostwhite;
    border-radius: 8px;
    position: absolute;
}

.resizeHandle {
    bottom: 4px;
    right: 4px;
    width: 4px;
    height: 4px;
    border-style: solid;
    border-left-width: 0px;
    border-top-width: 0px;
    border-right-width: 2px;
    border-bottom-width: 2px;
    border-color: darkGray;
    position: absolute;
}
.resizeHandle:hover {
    border-color: orange;
}
.dragging {
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    background-color: gray;
    border-radius: 8px;
    position: absolute;
    background: repeating-linear-gradient( -45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 4px, rgba(100, 100, 100, 0.1) 4px, rgba(100, 100, 100, 0.1) 8px );
}

.resizing {
    border-style: solid;
    border-width: 1px;
    border-color: gray;
    background-color: orange;
    border-radius: 8px;
    position: absolute;
    opacity:0.3;
    background: repeating-linear-gradient( -45deg, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0) 4px, orange 4px, orange 8px );
}
#drag-me::before {
    content: "#" attr(id);
    font-weight: bold;
}
